<div class="container">
  <h1>{{title | uppercase}}</h1>

  <div>
    <form (ngSubmit)="addTask()">
      <input type="text" 
      name="inputText" 
      [(ngModel)]="text"
      [(ngModel)]="inputText" 
      >
      <button (click)="clear()">Send</button>
    </form>
  </div>

  <div >
    <p [class.taskIsDone]="task.taskDone" *ngFor="let task of tasks; let i = index">{{task.text}} <input type="checkbox" [(ngModel)]="task.taskDone"/><button (click)="deleteTask(i)">delete</button></p>
  </div>


</div>